:root {
        --primary-color: #181818;
        --secondary-color: #282828;
        --tertiary-color: #383838;
        --accent-color: #ff5f58;
        --light-color: #cacaca;
        --dark-color: #121212;
        --border-radius: 0.25rem;
        --transition: 0.3s;
}

html, body {
        background: var(--primary-color);
        color: var(--light-color)
}

.queue-pane {
        min-height: calc("100vh - 64px");
        height: calc("100vh - 64px");
}
